views/crud/accounts.jade
   div.row
      div.col-md-8
         h1.border-bottom.mb-4=title 
      div.col-md-4(style="margin:auto")
         a(ng-href="#/") Topに戻る
   div.row(style="margin:auto")
      div.col-md-2
         a.btn.btn-primary.btn-sm.my-3(href='create') 新規登録
      div.col-md-6(style="margin: auto;margin-left: 0;")
         form.form-inline.m-1
            input.form-control.mr-2(type='text',placeholder='検索' style="width: 100%;" ng-model="search")
      div.container-fluid 
         div.row
            .ng-view 
               table.table.table-bordered.table-striped
                  thead
                     - var names=['ID','名前','名前（かな）','性別','生年月日']
                     each name in names
                        th(scope="col").text-center=name
                     th(colspan="2").text-center='変更'
                  tbody
                     tr(ng-repeat="data in accounts|filter:search")
                        td(scope="row"){{data.id}}
                        td {{data.first_name}} {{data.last_name}}
                        td {{data.kana_first_name}} {{data.kana_last_name}}
                        td {{data.gender}}
                        td {{data.birth| date:'yyyy年MM月dd日'}}
                        td: button().btn.btn-success 変更
                        td: button(ng-click='delete(id)').btn.btn-danger　削除

views/crud/accounts.html
<div class="row">
  <div class="col-md-8">
    <h2 class="border-bottom mb-4">アカウント</h1>
  </div>
</div>
<div class="row" style="margin:auto">
  <div class="col-md-2"><a class="btn btn-primary btn-sm my-3" data-toggle="modal" data-target="#dialog">新規登録</a></div>
  <div class="modal fade" id="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class=modal-header>
          <h5 class="modal-title">アカウントの登録</h5>
        </div>
        <div class="modal-body">
          <form method="POST" novalidate="novalidate"> 
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="first_name">姓</label>
                  <input id="first_name" class="form-control" name="first_name" placeholder="例：山田" ng-model="data.first_name" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="last_name">名</label>
                  <input id="last_name" class="form-control" name="last_name" placeholder="例：太郎" ng-model="data.last_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kana_first_name" class="control-label">姓(ひらがな)</label>
                  <input id="kana_first_name" class="form-control" name="kana_first_name" placeholder="例：やまだ" ng-model="data.kana_first_name"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kana_last_name" class="control-label">名（ひらがな）</label>
                  <input id="kana_last_name" class="form-control" name="kana_last_name" placeholder="例：たろう" ng-model="data.kana_last_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">性別</label>
                  <div class="form-control radiokbox" style="font-size:16px;">
                    <input type="radio" name="gender" value="1" ng-model="data.gender"/>男性 
                    <input type="radio" name="gender" value="0" ng-model="data.gender"/>女性
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">生年月日</label>
                  <input class="form-control" placeholder="yyyy-MM-dd" type="date" name="birth" style="font-size:20px;text-align:center" ng-model="data.birth"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label" for="email">Email Address</label>
                  <input class="form-control" id="email" name="email" placeholder="your address" type="email" ng-model="data.email"/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input class="btn btn-block btn-primary" ng-click="create()" type="submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="margin: auto;margin-left: 0;">
    <form class="form-inline m-1" >
      <input class="form-control mr-2" type="text" placeholder="検索" style="width: 100%;" ng-model="search"/>
    </form>
  </div>
  <div class="container-fluid"> 
    <div class="row"> 
      <table class="table table-bordered table-striped">
        <thead>
          <th class="text-center" scope="col">ID</th>
          <th class="text-center" scope="col">名前</th>
          <th class="text-center" scope="col">名前（かな）</th>
          <th class="text-center" scope="col">性別</th>
          <th class="text-center" scope="col">生年月日</th>
          <th class="text-center" colspan="2">変更</th>
        </thead>
        <tbody>
          <tr ng-repeat="data in accounts|filter:search">
            <td>{{data.id}}</td>
            <td>{{data.first_name}} {{data.last_name}}</td>
            <td>{{data.kana_first_name}} {{data.kana_last_name}}</td>
            <td ng-if="data.gender==1">男性</td>
            <td>{{data.birth| date:'yyyy年MM月dd日'}}</td>
            <td>
              <button class="btn btn-success btn-sm " data-toggle="modal" data-target="#editor" ng-click="ondetail(data.id)" >変更</button> 
                <div class="modal fade" id="editor">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class=modal-header>
                        <h5 class="modal-title">アカウントの変更</h5>
                      </div>
                      <div class="modal-body">
                        <form　method="POST" novalidate="novalidate"> 
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">姓</label>
                                <input class="form-control" name="first_name" placeholder="例：山田" ng-model="updata.first_name"/>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">名</label>
                                <input class="form-control" name="last_name" placeholder="例：太郎" ng-model="updata.last_name" />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">姓(ひらがな)</label>
                                <input class="form-control" name="kana_first_name" placeholder="例：やまだ" ng-model="updata.kana_first_name" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">名（ひらがな）</label>
                                <input class="form-control" name="kana_last_name" placeholder="例：たろう" ng-model="updata.kana_last_name" />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="control-label">性別</label>
                                <div class="form-control radiobox" style="font-size:16px;">
                                  <input type="radio" name="gender" value="1" ng-model="updata.gender"/>男性 
                                  <input type="radio" name="gender" value="0" ng-model="updata.gender"/>女性
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="form-group">
                                <label class="control-label">生年月日</label>
                                <input class="form-control" type="date" placeholder="yyyy-MM-dd" name="birth" style="font-size:20px;text-align:center" ng-model="updata.birth"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label class="control-label" for="Email">Email Address</label>
                                <input class="form-control" id="email" name="email" placeholder="your address" type="email" ng-model="updata.email"/>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <input class="btn btn-block btn-primary" type="submit" ng-click="onupdate()"/>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            <td>
              <button ng-click="ondelete(data.id)" class="btn btn-danger btn-sm">削除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
